*{
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: black;
}

/* navigation design starts */

.nav-container{
    top: 0px;
    bottom: 0px;
    background-color: black;
    height: 40px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: grid;
    grid-template-columns: 150px 1fr;
    position: fixed;
    z-index: 1;
}

.div-container1{
    padding: 3px 5px 5px 0px;
    font-size: 25px;
    width: 100%;
    text-align: center;
    transition: 0.5s ease-in;
}
.div-container1 span{
    color: red;
}
.div-container1:hover{
    cursor: pointer;
    font-size: 30px;
}

.div-container2{
    display:flex;
    justify-content: right;
    /* background-color: blue; */
}

.div-container2 .menu{
    padding: 6px 10px 9px 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    /* background-color: red; */
    text-transform: capitalize;
    transition: 0.5s ease-in;
}

.div-container2 .menu:hover{
    cursor: pointer;
    color:red;
    font-size: 22px;
}

/* navigation design ends */

/* about design starts */
.about-header{
    margin-top: 40px;
    padding: 10px 10px 10px 10px;
    align-items: center;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

.about-header:before{
    content: '';
    height: 3px;
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: -1;
}

.about-header-content{
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight:bold;
    font-size: 25px;
    color: red;
    background-color: black;
    transition: 0.5s ease-in;

}

.about-header-content:hover{
    cursor: pointer;
    font-size: 30px;
}

.about-contents{
    /* background-color: yellow; */
    display: flex;
    justify-content: left;
}
.about-image{
    padding: 30px;
    position: relative;
    /* background-color: black; */
}
.about-image:before{
    content: '';
    position: absolute;
    left: 0px;
    top: 0px; 
    background-color: red;
    z-index: -1;
    height: 200px;
    width: 200px;
}

.about-image:after{
    content: '';
    position: absolute;
    right: 0px;
    bottom: 0px; 
    background-color: red;
    z-index: -1;
    height: 200px;
    width: 200px;
}

.about-details{
    /* background-color: blue; */
    width: 800px;
    height: 600px;
}

.about-details-container1{
    margin-bottom: 30px;
    padding: 15px;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;   
}

.about-details-container2{
    margin-bottom: 30px;
    padding: 20px 30px;
    color: white;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 25px;
    text-indent: 20px;
}

.about-details-container3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.about-details-container3-subcontainer{
    padding: 15px;
    color: white;
    text-indent: 20px;
    /* background-color: yellow; */
    margin-bottom: 30px;
}

.about-details-container3-subcontainer h2{
    margin-bottom: 10px;
    padding: 5px;
    font-weight: bolder;
}

.about-details-container3-subcontainer p{
    padding: 10px;
    font-size: 18px;
    text-align: justify;
}
/* about design ends */

/* gym features design starts */
.gym-features-heading{
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}

.gym-features-heading:before{
    content: '';
    height: 3px;
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: -1;
    transform: translateY(20px);
}

.gym-features-heading h1{
    border: 2px solid white;
    padding: 10px;
    background-color: black;
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 20px;
    color: red;
    border-radius: 5px;
    transition: 0.5s ease-in;
    /* background-color: yellow; */
}

.gym-features-heading h1:hover{
    cursor: pointer;
    font-size: 22px;
}

.gym-features-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px;
    /* background-color: orange; */
}

.gym-features-container-subcontainer{
    padding: 5px;
}

.gym-features-container-subcontainer-image{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}

.gym-features-container-subcontainer>img{
    transition: 0.5s ease-in-out;
}
.gym-features-container-subcontainer>img:hover{
    cursor: pointer;
    width: 102%;
}

.gym-features-container-subcontainer-image>img{
    filter: invert(1);
}
.gym-features-container-subcontainer h4{
    margin-top: 15px;
    padding: 10px 5px;
    text-align: center;
    text-transform: capitalize;
    color: red;
    /* background-color: blue; */
}

.gym-features-container-subcontainer p{
    padding: 18px 10px;
    text-indent: 20px;
    text-align: justify;
    font-size: 15px;
    line-height: 18px;
    color: white;
    /* background-color: yellow; */
}
/* gym features design ends */

/* gym trainer details designs starts */

.trainer-heading{
    display: flex;
    justify-content: center;
    /* background-color: blue;*/
}
.trainer-heading-content{
    border: white 2px solid;
    padding: 10px;
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 15px;
    color: red;
    background-color: black;
    border-radius: 7px;
    transition: 0.5s ease-in;
}

.trainer-heading:before{
    content: '';
    height: 3px;
    width: 100%;
    background-color: white;
    position: absolute;
    z-index: -1;
    transform: translateY(25px);
}

.trainer-heading-content:hover{
    cursor: pointer;
    font-size: 18px;
}

.trainer-details-container{
    display: flex;
    justify-content: left;
    /* background-color: blue; */
}

.trainer-details-container-subcontainer{
    overflow: hidden;
    width: 25%;
    height: 350px;
    margin: 10px;
    display: grid;
    grid-template-rows: 85% 25%;
    transition: 0.5s ease-in;
    /* background-color: orange; */
}

.trainer-details-container-subcontainer-image{
    width: 100%;
    height: 100%;
    /* background-color: green; */
}

.trainer-details-container-subcontainer-image img{
    width: 100%;
    height: 100%;
}

.trainer-details-container-subcontainer-details{
    width: 100%;
    padding: 2px;
    transform: translateY(-10px);
    /* background-color: grey; */
    
}

.trainer-details-container-subcontainer-details-name{
    padding: 12px 6px;
    width: 97%;
    left: 0px;
    bottom: 0px;
    background-color: black;
}

.trainer-details-container-subcontainer-details-name h3{
    color: red;
}

.trainer-details-container-subcontainer-details-name span{
    font-weight: bold;
    color: white;
}

.trainer-details-container-subcontainer-details-share{
    border-top: white 1px solid;
    padding: 7px;
    color: red;
    /* background-color: black; */
}

.trainer-details-container-subcontainer-details:hover {
    cursor: pointer;
    transform: translateY(-60px);
}

/* gym trainer details design ends */

/* gym testimonial design start */
.testimonial-header-container{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    width: 100%;
}

.testimonial-header{
    background-color: black;
    border: white 2px solid;
    border-radius: 5px;
    padding: 10px;
    text-decoration: underline;
    text-transform: capitalize;
    color: red;
    transition: 0.5s ease-out;
}

.testimonial-header-container:before{
    content: '';
    color: white;
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    z-index: -1;
    transform: translateY(25px);
}

.testimonial-header:hover{
    cursor: pointer;
    font-size: 18px;
}

.testimonial-detials-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.testimonial-details-container-subcontainer1{
    padding: 10px;
    width: 98%;
    margin: 10px;

}
.testimonial-details-container-subcontainer1 h1{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}
.testimonial-details-container-subcontainer1 p{
    margin-top: 20px;
    text-indent: 20px;
    text-align: justify;
    color:rgb(152, 159, 165);
}

.testimonial-details-container-subcontainer2{
    width: 97%;
    margin: 10px;
}

.testimonial-container1{
    padding: 20px;
    /* background-color: black; */
}
.testimonial-detials{
    display: grid;
    grid-template-columns: 70px auto;
    padding: 20px 20px 20px 0px;
}
.title p{
    color:rgb(152, 159, 165);
}
.testimonial-detials .details-photo img{
    border-radius: 50%;
}
.testimonial-detials .name h3{
    margin-left: 20px;
    color: white;
}
.testimonial-detials .name span{
    margin-left: 20px;
    color: red;
}
/* gym testimonail design ends */
